.logoadr{width: 40%; height: auto; border-radius: 10px}

.bgprincipal{font-size: 20px;  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(to left, grey, white); color: black}

    .nav-item:hover{
    font-size: 27px;
    background-color: rgb(113, 113, 113);
    border-radius: 20px;}