

.bienve{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-size:35px;}

    .adr{font-family: 'Poppins', sans-serif;}

.maincolor{background-color: rgb(187, 186, 186);}

.translate{  transition: all 1s;
}

.translate:hover{
    transform: translateY(-10px);}

