
.serv{color: rgb(9, 9, 67); font-family: 'Poppins', sans-serif; font-style: italic;}

.textoserv{font-size: 30px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;}

.servicio{color:rgb(9, 9, 67);font-family: cursive; text-align: center;}

.textorestau{text-align: center; font-family:'Poppins', sans-serif; font-style: italic ; color: black;
font-size: 40px;}




